﻿@model BOL.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{ 
    <p>ID : @Model.Id</p>
    <p>First Name : @Model.FirstName</p>
    <p>Last Name : @Model.LastName</p>
    <p>Email : @Model.Email</p>
    <p>Age : @Model.Age</p>
}