﻿
@{
    ViewBag.Title = "Insert";
}

<h2>Insert Data</h2>

<form action="/Customer/Index" method="post">
    <table>

        <tr>
            <td>Id:</td>
            <td><input type="text" name="id" /></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="fName" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="lName" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" name="age" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="register"/></td>
            <td></td>
        </tr>
    </table>    


</form>