﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>

<form action="/Customer/Index" method="post" style="background-color:orange">

    <table align="center" >

        <tr>
            <td>Enter Email</td>
            <td><input type="text" required name="email"/></td>
        </tr>
        <tr>
            <td>Enter First Name</td>
            <td><input type="text" reqired name="fname"/></td>
        </tr>
        <tr>
        
            <td><input type="submit" value="Login"/></td>
            <td><a href="/Customer/Insert" >For new registration</a></td>
        </tr>

    </table>
</form>