﻿@model IEnumerable<BOL.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    foreach(BOL.Customer c in Model) { 
            
        <p>@c.FirstName | @c.LastName</p>
        <p>@c.Email</p>
        <p>@c.Age</p>
            
            }
}
